@import "tailwindcss";


/* animation de 8 images */
.game-image {
  opacity: 0;
}

.game-image-left {
  transform: scale(0.7) rotate(-15deg);
}

.game-image-right {
  transform: scale(0.7) rotate(15deg);
}

.game-image-visible {
  animation-duration: 600ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.game-image-left.game-image-visible {
  animation-name: gameRevealLeft;
}

.game-image-right.game-image-visible {
  animation-name: gameRevealRight;
}

@keyframes gameRevealLeft {
  0% {
    opacity: 0;
    transform: scale(0.7) rotate(-15deg);
  }

  60% {
    opacity: 1;
    transform: scale(1.05) rotate(5deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes gameRevealRight {
  0% {
    opacity: 0;
    transform: scale(0.7) rotate(15deg);
  }

  60% {
    opacity: 1;
    transform: scale(1.05) rotate(-5deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

/* grande image animation */
.game-dm-image {
  transform: scale(0.88);
  transform-origin: center;
}

.game-dm-image-show {
  animation: gameDmZoomIn 450ms ease-out forwards;
}

.game-dm-image-hide {
  animation: gameDmZoomOut 300ms ease-in forwards;
}

@keyframes gameDmZoomIn {
  from {
    transform: scale(0.88);
  }

  to {
    transform: scale(1);
  }
}

@keyframes gameDmZoomOut {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.88);
  }
}

/* logo top jv88 */
@keyframes custom-bounce {
  0%,
  100% {
    transform: translateY(-4%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-custom-bounce {
  animation: custom-bounce 1s infinite;
}


/* btns desc */
@keyframes menu-button-enter {
  0% {
    opacity: 0;
    transform: translateY(25px) scale(0.92);
  }

  60% {
    opacity: 1;
    transform: translateY(-3px) scale(1.01);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.menu-button-enter {
  animation: menu-button-enter 0.7s ease-out both;
}